.layui-footer {
    text-align: center;
    font-size: 12px;
}

.iconfont {
    margin-right: 8px;
}

.layui-icon {
    margin-right: 8px;
    margin-left: 20px;
}

iframe {
    width: 100%;
    height: 100%;
}

.layui-body {
    overflow: hidden;
}

a {
    transition: none !important;
}

.userinfo {
    height: 60px;
    line-height: 60px;
    text-align: center;

    /* font-size: 12px; */
    user-select: none;
}

.userinfo img {
    margin-left: 30px;
}

.layui-side-scroll .userinfo {
    border-bottom: 1.5px solid #282b33;
}

.text-avanter {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: pink;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    position: relative;
    top: 1px;
}

.text-avanter {
    position: relative;
    left: -10px;
}